# Compiler files
cache/
out/

# Development broadcast logs
broadcast/

# Node.js
node_modules/
dist/
build/

# Environment variables
.env
.env.*

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# System Files
.DS_Store
Thumbs.db
